body {
  background-image: url('https://bit.ly/2qRktvg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.flex-container {
  font-family: 'Righteous', cursive;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px;
}

#displayDistance {
  margin: 10px;
}

#mapWrap {
  min-width: 400px;
  min-height: 300px;
}

#map {
  width: 80%;
  margin: auto;
  min-height: 70vh;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: black;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 10px;
  margin: 10px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: beige; 
}