.menu-container {
    text-align: center;
    display: block;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

#mapWrap {
    width: 1000px;
    height: 800px;
}

#map {
    width: 80%;
    margin:auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}